community: public # the community string for device
target: 192.2.0.1 # ip address
interface:
    include: "" # include interface name
    exclude: "" # exclude interface name
mibs: # capture mib name
    - ifHCInOctets
    - ifHCOutOctets
skip-linkdown: true
mackerel:
    x-api-key: xxxxx
    host-id: xxxxx
    name: "" # display Name on Mackerel
    ignore-network-info: false
custom-mibs:
#   - display-name: uptime
#     unit: integer
#     mibs:
#       - display-name: uptime
#         mib: 1.3.6.1.2.1.1.3.0
